cprog_template_win_231017/build/debug/play
cprog_template_win_231017/build/debug/play.dSYM/Contents/Resources/DWARF/play
cprog_template_win_231017/build/debug/play.dSYM/Contents/Resources/Relocations/aarch64/play.yml
cprog_template_win_231017/build/debug/play.dSYM/Contents/Info.plist
cprog_template_win_231017/.DS_Store
cprog_template_win_231017/resources/.DS_Store
cprog_template_win_231017/resources/images/.DS_Store
.vscode/settings.json
cprog_template_win_231017/Makefile
.vscode/launch.json
.vscode/tasks.json
cprog_template_win_231017/include/Constants.h
cprog_template_win_231017/include/Constants.h
cprog_template_win_231017/.vscode/tasks.json
cprog_template_win_231017/.vscode/launch.json
cprog_template_win_231017/.vscode/c_cpp_properties.json
cprog_template_win_231017/.vscode/c_cpp_properties.json
.DS_Store
